@charset "UTF-8";

/* HTML Styles */

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

* {
    box-sizing: inherit;
}

body {
    background: url(../assets/mobile/image-host.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(18, 23, 37, 0.9);
    font-family: 'Chivo', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 26px;
    color: #54E6AF;
    line-height: 1.25em;
    text-transform: uppercase;
}

h1 span {
    color: #FFF;
}

p {
    color: #C2CBE5;
    margin: 0 auto 2em;
    max-width: 540px;
}

form {
    color: #FFF;
    margin-top: 3em;
}

legend {
    display: none;
}

label {
    display: none;
}

input {
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 28px;
    height: 46px;
    margin: 0.5em 0;
    padding: 9px 32px;
    width: 100%;
}

input[type="email"] {
    background-color: #2C344B;
    color: #FFF;
}

input[type="submit"] {
    background-color: #54E6AF;
    color: #121725;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
}

input[type="submit"]:hover {
    background-color: #FFF;
}

footer {
    display: none;
}

/* Flexbox Styles */

#landing-page {
    display: flex;
    flex-direction: column;
}

#platform-icons {
    display: flex;
    justify-content: space-between;
    min-width: 315px;
}

#platform-icons img:last-child {
    margin-right: 0;
}

/* Custom Attribute Styles */

#logo-containter {
    padding: 62px 0 57px;
}

#landing-page {
    width: 87.2%;
    margin: auto;
    clear: left;
}

#platform-icons img {
    max-width: 100%;
    height: auto;
    min-width: 0;
}

.spotify-icon {
    margin-right: 23px;
}

.apple-podcast-icon {
    margin-right: 25px;
}

.google-podcasts-icon {
    margin-right: 16px;
}

@media screen and (min-width: 766px) {

    /* HTML Styles */
    body {
        background: url(../assets/tablet/image-host.jpg) top right no-repeat, #121725;
        box-shadow: none;
        background-blend-mode: lighten;
        background-size: initial;
        text-align: left;
        font-size: 18px;
    }

    h1 {
        font-size: 48px;
        max-width: 600px;
        margin-top: 0;
    }

    p {
        margin-left: 0;
        max-width: 70%;
    }

    form {
        margin: 0 0 2.25em;
    }

    input[type="email"] {
        width: 68%;
        height: 56px;
        padding-right: 172px;
    }

    input[type="submit"] {
        width: 162px;
        padding: 0;
        position: relative;
        left: -172px;
        margin: 0;
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
        margin-left: 30px;
    }

    /* Flexbox Styles */

    #platform-icons {
        justify-content: flex-start;
        order: 1;
    }

    /* Custom Attribute Styles */

    #logo-containter {
        float: left;
        margin: 50px 39px 152px;
        padding: 0;
    }

    #landing-page {
        background-color: #121725;
        margin-top: 253px;
        margin-left: 3em;
        padding: 93px 0 1.5em;
        width: 82%;
    }

    #platform-icons {
        width: 85%;
    }
}

@media screen and (min-width: 1440px) {
    /* HTML Styles */

    body {
        background: url(../assets/desktop/image-host.jpg) center right no-repeat, #121725;
        box-shadow: none;
        background-blend-mode: lighten;
    }

    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        bottom: 78px;
        margin-left: 0px;
    }

    /* Custom Attribute Styles */

    #landing-page {
        margin: 165px;
        width: 50%;
        padding-bottom: 5em;
    }

}